// Custom Themes

// Blood
.app-color-blood {
	// Set the colors for Blood theme
    .bg-primary { background-color: black }
    .border-primary { border-color: red }
    .text-primary { color: red }

    @each $ton in $tons {
        .bg-primary-#{$ton} { background-color: black }
        .border-primary-#{$ton} { border-color: red }
        .text-primary-#{$ton} { color: red }
    }

    .newtab__item_body { background-color: #1a1a1a }
	.newtab__subtitle { color: #8B0000 }

    // Background Image
    .newtab {
	    background-color: transparent;
	    background-image: url("https://d1u5p3l4wpay3k.cloudfront.net/dota2_gamepedia/5/56/Feast_of_Abscession_Preview_7.jpg");
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-position: center;
	    background-size: cover;
	}

	// Blood drop
	.newtab__title {
		color: #4D0000;
		&:after{
			display:block;
			content:"";
			background:#8B0000;
			width:18px;
			height:18px;
			position:absolute;
			left:28px;
			animation: drop 7s ease infinite;
			border-radius: 50%;
			transform:scale(0.7,1) rotate(45deg);
			box-shadow: 1px 1px 5px red;
			margin-top: 12px;
		}
	}
	@-webkit-keyframes drop {
		0%{
			transform:scale(0.1,0.1) rotate(45deg);
			top:25px;
			border-top-left-radius: 50%;
		}
		90%{
			top:42px;
			border-top-left-radius: 0;
		}
		95%{
			border-top-left-radius: 0;
			transform:scale(0.7,1) rotate(45deg);
		}
		100%{
			top:385px;
			border-top-left-radius: 50%;
			transform:scale(2,0.7) rotate(45deg);
		}
	}
}
