@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');

// Vendor
@tailwind utilities;

// Components
@import 'reset';
@import 'style';

//Colors
$colors: (
    'grey', 'red', 'orange', 'yellow', 'green',
    'teal', 'blue', 'indigo', 'purple', 'pink',
);

$tons: (
    'darkest', 'darker', 'dark',
    'light', 'lighter', 'lightest',
);

@each $color in $colors {
    .app-color-#{$color} {
        .bg-primary { @apply .bg-#{$color} }
        .border-primary { @apply .border-#{$color} }
        .text-primary { @apply .text-#{$color} }

        @each $ton in $tons {
            .bg-primary-#{$ton} { @apply .bg-#{$color}-#{$ton} }
            .border-primary-#{$ton} { @apply .border-#{$color}-#{$ton} }
            .text-primary-#{$ton} { @apply .text-#{$color}-#{$ton} }
        }
    }
}
