.newtab {
    @apply
        .font-sans
        .font-normal
        .text-black
        .leading-normal
        .h-screen
        .overflow-auto;

    @extend .bg-primary-darkest;

    &__header {
        @apply
            .flex
            .justify-between
            .p-1
            .pb-2;
    }

    &__title { @extend .text-primary-darker; }

    &__subtitle {
        @apply .cursor-move;
        @extend .text-primary-dark;
    }

    &__buttons {
        @apply
            .flex
            .pt-2/4
            .text-right;
    }

    &__button {
        @apply
            .py-2/4
            .px-1
            .ml-2/4
            .shadow-md;

        @extend .text-primary-dark;

        &:hover { @extend .text-primary-light; }

        &--modal {
            @apply
                .shadow-none
                .absolute
                .pin-r
                .pin-b;
        }
    }

    &__select {
        @apply
            .relative
            .shadow-md
            .pr-1;

        @extend .text-primary-dark;

        select {
            @apply
                .appearance-none
                .py-2/4
                .pl-1
                .pr-1/4
                .bg-transparent;

            @extend .text-primary-dark;

            &:hover { @extend .text-primary-light; }
        }

        .fa-sort-down {
            @apply .absolute;

            top: 7px;
            right: 7px;
        }

        &:hover { @extend .text-primary-light; }
    }

    &__section {
        @apply
            .p-1
            .pb-1;

        &_header {
            @apply
                .flex
                .justify-between;
        }

        &_body {
            @apply
                .flex
                .flex-wrap
                .-mx-2/4
                .py-2/4;
        }

        .newtab__buttons {
            @apply .p-0;
        }
    }

    &__item {
        @apply
            .w-16
            .p-2/4
            .inline-block
            .opacity-50;

        &:hover { @apply .opacity-100; }

        &--birthday {
            @apply .w-32;
        }

        &_button {
            @apply
                .absolute
                .p-1/4
                .opacity-25
                .text-grey-darker;

            top: .75rem;

            &:hover { @apply .opacity-100; }

            &--first { right: 1rem; }
            &--second { right: 2.5rem; }
            &--third { right: 4rem; }
        }

        &_holder {
            @apply .relative;

            &--birthday {
                @apply
                    .inline-block
                    .cursor-pointer;
                width: 49%;
            }
        }
        &_body {
            @apply
                .block
                .p-2/4
                .shadow-md
                .text-center
                .text-xl;

            @extend .bg-primary-darker;
            @extend .text-primary-lightest;

            &:hover { @apply .text-white; }
        }

        &_image {
            @apply
                .block
                .h-8
                .mb-1/4;

            @extend .bg-primary;

            &:before {
                @apply
                    .inline-block
                    .h-full
                    .align-middle;

                content: '';
            }

            img {
                @apply
                    .inline-block
                    .align-middle
                    .max-h-8;

                &.whitescale { filter: brightness(0) invert(1); }
            }
        }

        &_icon {
            @apply
                .block
                .h-8
                .mb-1/4
                .py-3/4;

            @extend .bg-primary;
        }

        &_text {
            @apply
                .block
                .h-auto
                .mb-1/4
                .py-3/4
                .min-h-8;

            @extend .bg-primary;
        }
    }

    &__modal {
        @apply .p-1.5;

        &_header {
            @apply
                .flex
                .justify-between
                .mb-1.5;
        }

        &_title {
            @apply .text-2xl;
            @extend .text-primary;
        }

        &_close {
            @extend .text-primary-lighter;
        }

        &_body {
            @apply .overflow-y-scroll;

            height: 290px;
        }

        &_field {
            @apply
                .text-grey-darker
                .border-b
                .border-b-2
                .py-2/4
                .mt-3/4;

            @extend .border-primary;

            &--modal { @apply .relative; }

            &--checkbox {
                @apply .relative;

                padding-left: 20px;
            }
        }

        &_input {
            @apply
                .appearance-none
                .bg-transparent
                .border-none
                .w-full
                .text-grey-darker
                .py-1/4
                .px-2/4;
        }

        &_checkbox {
            @apply
                .absolute
                .pin-l;

            bottom: 10px

        }

        &_footer {
            @apply
                .text-right
                .mt-1.5;
        }

        &_button {
            @apply
                .text-white
                .font-bold
                .py-2/4
                .px-1
                .rounded
                .border-b-4;

            @extend .bg-primary;
            @extend .border-primary-dark;

            &:hover {
                @extend .bg-primary-light;
                @extend .border-primary;
            }
        }
    }
}
